<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.2.2" targetFramework="net46" />
  <package id="Machine.Specifications" version="0.11.0" targetFramework="net46" />
  <package id="Machine.Specifications.Runner.VisualStudio" version="2.1.0" targetFramework="net46" />
  <package id="MongoDB.Bson" version="2.3.0" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.3.0" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.3.0" targetFramework="net46" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net46" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net46" />
</packages>